=render(::Body::Register::Component.new())
=render(::Body::Infos::Component.new())
=render(::Body::Subinfos::Component.new())
=render(::Body::Numbers::Component.new())
=render(::Body::Accordion::Component.new())